body {
    font-family: Arial, sans-serif;
    background: #111;
    color: white;

    display: flex;
    justify-content: center;

    padding: 20px;

    
    background: var(--background);

    color: var(--text);
}


.dashboard {
    width: 100%;
    max-width: 500px;
}


h1 {
    text-align: center;
}


.section {
    margin-top: 15px;
}


.section-title {

    width: 100%;

    padding: 15px;

    font-size: 18px;

    background: #222;
    color: white;

    border: none;
    border-radius: 10px;

    cursor: pointer;

}


.content {

    max-height: 0;

    overflow: hidden;

    background: #1b1b1b;

    padding: 0 15px;

    border-radius: 0 0 10px 10px;

    white-space: pre-line;

    transition: 0.3s;

}


.content.open {

    max-height: 300px;

    padding: 15px;

}





